.header{
    background-color: #FFB8CA;
}

.logo:hover{
    color: #8e0c2d;
}
.burger{
    color: #D41443;
}

.burger:hover{
    color: #8e0c2d;
}
.hero{
    min-height: 500px;
}

.hero__title{
    color: #D41443;
}
.hero__btn{
    border-radius: 20px;
   padding: 5px 15px;
   background-color: #fff;
   color: #D41443;
}

.hero__btn-kit{
    padding-top: 20px;
}

.hero__img{
    top: 50px;
        right: 26px;
}
.hero__img::after{
    position: absolute;
    top: 0;
    right: 0;

    content: "";
    width: 346px;
    height: 344px;
    border-radius: 50%;
    background-color: #FFA5BA;
}

.btn-red{
    background-color: #D41443;
    color: #fff;
}
